@model PVP_K180.Models.Vartotojas

@{
    ViewBag.Title = "Registracija";
}

<h2>Registracija</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vartotojas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.slapyvardis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.slapyvardis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.slapyvardis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.slaptazodis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.slaptazodis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.slaptazodis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.re_slaptazodis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.re_slaptazodis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.re_slaptazodis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.el_pastas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.el_pastas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.el_pastas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registruotis" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div style="margin:2vh">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("Index") + "'");" class="btn btn-info" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
