@model IEnumerable<PVP_K180.Models.Renginys>

@{
    ViewBag.Title = "GautiRenginius";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Atšauktas",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Pasibaigęs",
        Value = "2",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Neįvykęs",
        Value = "3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Būsimas",
        Value = "4"
    });
}


<style>
    .filter{
        margin-bottom:10px;
    }
</style>
<h2>Esami renginiai</h2>
@Styles.Render("~/Styles/tableStyle.css")
<p>
    @Html.ActionLink("Sukurti naują renginį", "RenginioKurimas")
</p>
@using (Html.BeginForm())
{
<div class="filter"> 
    <b>Renginio Būsena</b>
    @Html.DropDownList("busena", listItems, "-- Rodyti visus --")
    <b>Renginių pradžios data</b>
    @Html.TextBox("nuo")
    <b>Renginių pabaigos data</b>
    @Html.TextBox("iki")

    <input type="submit" value="Filtruoti" />
</div>
}
<table class="table-fill">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.reitingas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paskelbimo_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pradzios_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pabaigos_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kaina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.renginio_busena)
            </th>

            <th>Funckijos</th>
        </tr>
    </thead>

    <tbody class="table-hover">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reitingas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pradzios_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paskelbimo_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pabaigos_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kaina)
            </td>
            <td>
                @if (item.renginio_busena == 1)
                {
                    @Html.DisplayName("Atšauktas")
                }
                else if (item.renginio_busena == 2)
                {
                    @Html.DisplayName("Pasibaigęs")
                }
                else if (item.renginio_busena == 3)
                {
                    @Html.DisplayName("Neįvykęs")
                }
                else if (item.renginio_busena == 4)
                {
                    @Html.DisplayName("Būsimas")
                }
            </td>
            <td class="text-left">
                @Html.ActionLink("Redaguoti", "RedaguotiRengini", new { id = item.id_Renginys }) |
                @Html.ActionLink("Keisti būseną", "KeistiRenginioBusena", new { id = item.id_Renginys }) |
                @Html.ActionLink("Pridėti nuotraukų", "PridetiNuotraukuRenginiui", new { id = item.id_Renginys }) |
                @Html.ActionLink("Nuotraukos", "GautiNuotraukasRenginio", new { id = item.id_Renginys }) |
                @Html.ActionLink("Rašyti komentarą", "Komentarai", new { id = item.id_Renginys }) |
                @Html.ActionLink("Detali informacija", "DetaliInformacijaRenginys", new { id = item.id_Renginys })
            </td>
        </tr>
        }
    </tbody>


</table>

