
@model PagedList.IPagedList<PVP_K180.Models.Renginys>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "GautiRenginius";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Atšauktas",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Pasibaigęs",
        Value = "2",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Neįvykęs",
        Value = "3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Būsimas",
        Value = "4"
    });
}


<style>
    .filter {
        margin-bottom: 10px;
    }
</style>
<h2>Esami renginiai</h2>
@Styles.Render("~/Styles/tableStyle.css")
<p>
    @Html.ActionLink("Sukurti naują renginį", "RenginioKurimas", new { }, new { @class = "btn btn-primary", @type = "button" })
</p>
@using (Html.BeginForm())
{
    <div class="filter">
        <b>Renginio Būsena</b>
        @Html.DropDownList("busena", listItems, "-- Rodyti visus --")
        <b>Renginių pradžios data</b>
        @Html.TextBox("nuo")
        <b>Renginių pabaigos data</b>
        @Html.TextBox("iki")

        <input type="submit" value="Filtruoti" />
    </div>
}
<table class="table-fill">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().paskelbimo_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().pradzios_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().pabaigos_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().adresas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().kaina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().renginio_busena)
            </th>

            <th>Funckijos</th>
        </tr>
    </thead>

    <tbody class="table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pradzios_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paskelbimo_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pabaigos_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adresas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kaina)
                </td>
                <td>
                    @if (item.renginio_busena == 1)
                    {
                        @Html.DisplayName("Atšauktas")
                    }
                    else if (item.renginio_busena == 2)
                    {
                        @Html.DisplayName("Pasibaigęs")
                    }
                    else if (item.renginio_busena == 3)
                    {
                        @Html.DisplayName("Neįvykęs")
                    }
                    else if (item.renginio_busena == 4)
                    {
                        @Html.DisplayName("Būsimas")
                    }
                </td>
                <td class="text-left">
                    @Html.ActionLink("Redaguoti", "RedaguotiRengini", new { id = item.id_Renginys }) |
                    @Html.ActionLink("Keisti būseną", "KeistiRenginioBusena", new { id = item.id_Renginys }) |
                    @Html.ActionLink("Pridėti nuotraukų", "PridetiNuotraukuRenginiui", new { id = item.id_Renginys }) |
                    @Html.ActionLink("Nuotraukos", "GautiNuotraukasRenginio", new { id = item.id_Renginys }) |
                    @Html.ActionLink("Rašyti komentarą", "Komentarai", new { id = item.id_Renginys }) |
                    @Html.ActionLink("Detali informacija", "DetaliInformacijaRenginys", new { id = item.id_Renginys })
                </td>
            </tr>
        }
    </tbody>


</table>

<div id="pager">
    @Html.PagedListPager(Model, page => Url.Action("GautiRenginius", new { page }))
</div>

<div style="margin-top: 30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("AdminValdymas", "Vartotojas") + "'");" class="btn btn-info" />
</div>