@model PVP_K180.Models.Renginys

@{
    ViewBag.Title = "RenginioKurimas";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Atšauktas",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Pasibaigęs",
        Value = "2",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Neįvykęs",
        Value = "3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Būsimas",
        Value = "4"
    });
}

<h2>RenginioKurimas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Renginys</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pavadinimas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aprasymas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aprasymas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aprasymas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pabaigos_data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pabaigos_data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pabaigos_data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zemelapis_ilguma, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zemelapis_ilguma, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zemelapis_ilguma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zemelapis_platuma, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zemelapis_platuma, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zemelapis_platuma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10  col-md-offset-2">
                @Html.DropDownListFor(model => model.renginio_busena, listItems, "-- Pasirinkite --")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sukurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atgal", "GautiRenginius")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
