@model PVP_K180.Models.Projektas

@{
    ViewBag.Title = "DetaliInformacijaProjektas";
}
<link href="~/Styles/photoStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin="" />
<link href="~/Styles/lightbox.css" rel="stylesheet" />

<style>
    .boxShadow {
        box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
        margin: auto;
        border-radius: 5px;
        width: 75%;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
        position: relative;
        word-wrap: break-word;
    }
</style>

<h2 style="text-align:center">Detali Informacija</h2>

<div>

    <div class="boxShadow">
        <p style="text-align:left;font-size:20px; font-weight:bold">
            Projektas #@Model.id_Projektas
        </p>
        <hr />
    </div>

    <div class="boxShadow" style="text-align:left;font-size:15px;">
        <p style="text-align: left; font-size: 20px; font-weight: bold">@Html.DisplayNameFor(model => model.pavadinimas)</p>
        <hr />
        <p>@Html.DisplayFor(model => model.pavadinimas)</p>
    </div>

    <div class="boxShadow" style="text-align:left;font-size:15px;">
        <p style="text-align: left; font-size: 20px; font-weight: bold">@Html.DisplayNameFor(model => model.aprasymas)</p>
        <hr />
        <p>@Html.DisplayFor(model => model.aprasymas)</p>
    </div>

    <div class="boxShadow" style="text-align:left;font-size:15px;">
        <p style="text-align: left; font-size: 20px; font-weight: bold">@Html.DisplayNameFor(model => model.projekto_busena)</p>
        <hr />
        <p>@Html.DisplayFor(model => model.projekto_busena)</p>
    </div>

    <div class="boxShadow" style="text-align:left;font-size:15px;">
        <p style="text-align: left; font-size: 20px; font-weight: bold"> @Html.DisplayNameFor(model => model.fk_Vartotojasid_Vartotojas)</p>
        <hr />
        <p> @Html.DisplayFor(model => model.fk_Vartotojasid_Vartotojas)</p>
    </div>

    <script src="~/Scripts/lightbox.js"></script>
    <div class="boxShadow">

        <p style="text-align: left; font-size: 20px; font-weight: bold">Nuotraukos</p>
        <hr />
        @if (Model.gautosNuotraukos.Count != 0)
        {
            <div class="containerPhoto">
                <div class="gallery">
                    @foreach (var item in Model.gautosNuotraukos)
                    {
                        <a href="~/Nuotraukos/@item.nuotraukos_nuoroda" data-lightbox="models" data-title="@item.nuotraukos_nuoroda">
                            <img src="~/Nuotraukos/@item.nuotraukos_nuoroda" />
                        </a>
                    }
                </div>
            </div>
        }
        else
        {
            <p>Nuotraukų nebuvo pridėta</p>
        }

    </div>
</div>
<div style="margin-top: 30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("GautiProjektus") + "'");" class="btn btn-info" />
</div>
