@model PVP_K180.ModelView.KomentaroLangasProjektas

@{
    ViewBag.Title = "Komentarai";
}


<style>
    .borderless td, .borderless th {
        border: none;
    }
</style>
<h2>Komentarai</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (TempData["SuccsessComment"] != null)
        {
            <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["SuccsessComment"])</p>
        }
        @if (TempData["DeleteSucc"] != null)
        {
            <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["DeleteSucc"])</p>
        }
        @if (TempData["DeleteFail"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@Convert.ToString(TempData["DeleteFail"])</p>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="align-content:left" class="form-group">
            @Html.LabelFor(model => model.rasomasKomentaras.komentaro_tekstas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.rasomasKomentaras.komentaro_tekstas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rasomasKomentaras.komentaro_tekstas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rašyti" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<link rel="stylesheet" href="~/Styles/comment.css" />
<div class="comments-container">
    <ul id="comments-list" class="comments-list">
        <li>
            @foreach (var item in Model.parasytiKomentarai)
            {

                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="~/Nuotraukos/@item.nuotrauka_location" alt=""></div>
                    <!-- Content -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="@(@Url.Action("ProfilioPerziura", "Vartotojas", new { id = item.fk_Vartotojasid_Vartotojas }))">@item.varotojo_slapyvardis</a></h6>
                            <span>@item.parasymo_data.ToString("yyyy-MM-dd")</span>
                            @if (Convert.ToInt32(Session["UserID"]) == item.fk_Vartotojasid_Vartotojas)
                            {
                            <i class="fa fa-reply"><a href="@(@Url.Action("TrintiKomentara", "Projektas", new { id = item.id_Komentaras }))">Trint komentarą</a></i>
                            }
                            <i  class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                           @item.komentaro_tekstas
                        </div>
                    </div>
                </div>
            <li></li>
            }
        </ul>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
