@model PVP_K180.Models.Balsavimas

@{
    ViewBag.Title = "Balsuoti";
}

<h2>Balsuoti</h2>

<div>
    <h4>Balsavimas</h4>
    @if (TempData["SuccessVote"] != null)
    {
        <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["SuccessVote"])</p>
    }
    <hr />

    @if (Model.sukurimo_data != null)
    {
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.klausimas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.klausimas)
    </dd>

    @if (Model.balsavimo_aprasymas != "")
    {

        <dt>
            @Html.DisplayNameFor(model => model.balsavimo_aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.balsavimo_aprasymas)
        </dd>
    }

    <dt>
        @Html.DisplayNameFor(model => model.dalyviu_skaicius)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dalyviu_skaicius)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.sukurimo_data)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.sukurimo_data)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.pabaigos_data)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.pabaigos_data)
    </dd>



    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 0px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr td:last-child {
            width: 97%;
            margin: auto;
            border-collapse: collapse;
        }
    </style>
    @using (Html.BeginForm())
    {
        <dd>
            <b><p style="">Balsavimo variantai</p></b>
        </dd>
        if (Session["UserID"] != null && Convert.ToBoolean(TempData["Voted"]) == false)
        {
            foreach (var item in Model.balsavimo_variantai)
            {

                <dd>
                    <form>
                        <a href="@Url.Action("RinktisVarianta", "Balsavimas", new { id = item.id_Balsavimo_Variantas })" style="margin-top:5px; width:25%"class="btn btn-info">
                            <i class="fa fa-plus"></i>@item.balsavimo_variantas
                        </a>
                    </form>
                </dd>

            }
        }
        else { 
            <table>
                <thead>
                    <tr>
                        <th style="margin-left:10px" colspan="3">Balsavimo variantai</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.balsavimo_variantai)
                    {

                        <tr>
                            @if ((Convert.ToInt32(TempData["ChosenNumb"]) == item.id_Balsavimo_Variantas))
                            {
                                <th scope="row">✔️</th>
                            }
                            else
                            {
                                <th scope="row"></th>
                            }

                            <td>@item.balsavimo_variantas</td>
                            <td>Pasirinko: @item.pasirinkusiu_skaicius</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    }
        
    </dl>
    }
    else
    {
        <p>Aktyvaus balsavimo dabar nėra</p>
    }
</div>
<div style="margin:2vh">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn btn-info" />
</div>