@model PVP_K180.Models.Balsavimas

@{
    ViewBag.Title = "Balsavimas";
}

<style>
    .boxShadow {
        box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: white;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .customImg {
        max-height: 200px;
        max-width: 300px;
        padding-top: 1vh;
    }
</style>
<h2>Balsavimas</h2>
<hr />
@if (TempData["SuccessVote"] != null)
{
    <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["SuccessVote"])</p>
}
<div class="row">
<div class="column">
    <div class="boxShadow">

        @if (Model.sukurimo_data != null)
        {
            <dl class="dl-horizontal">

                <h3 style="">Klausimas</h3>
                <p style="font-weight:bold;font-size:20px">@Model.klausimas</p>
                <hr />

                @using (Html.BeginForm())
                {

                    <p style="font-size:15px">Galimi balsavimo variantai:</p>
                    <hr/>

                    if (Session["UserID"] != null && Convert.ToBoolean(TempData["Voted"]) == false)
                    {
                        foreach (var item in Model.balsavimo_variantai)
                        {


                            <form style="display:flex">
                                <a href="@Url.Action("RinktisVarianta", "Balsavimas", new { id = item.id_Balsavimo_Variantas })" style="margin-top:5px; width:100%" class="btn btn-info">
                                    <i class="fa fa-plus"></i>@item.balsavimo_variantas
                                </a>
                            </form>


                        }
                    }
                    else
                    {
            <table>
                <thead>
                    <tr>
                    </tr>
                </thead>
                @if (Session["UserID"] != null)
                {
                    <tbody>
                        @foreach (var item in Model.balsavimo_variantai)
                        {

                        <tr>
                            @if ((Convert.ToInt32(TempData["ChosenNumb"]) == item.id_Balsavimo_Variantas))
                            {
                                <a href="" style="margin-top: 5px; width: 100%; pointer-events: none;" class="btn btn-danger">@item.balsavimo_variantas</a>
                            }
                            else
                            {
                                <a href="" style="margin-top: 5px; width: 100%; pointer-events: none;" class="btn btn-info">@item.balsavimo_variantas</a>
                            }
                        </tr>

                        }



                    </tbody>
                }
                else
                {
                    <tr>Norint balsuoti reikia: <span style="color:red">Prisijungti</span></tr>
                }

            </table>
                    }
                }

            </dl>
        }
        else
        {
            <p style="color:red;font-size:20px">Aktyvaus balsavimo dabar nėra</p>
        }
    </div>
    </div>

    @if (Model.sukurimo_data != null)
    {
    <div class="column">
        <div class="boxShadow">
            <h4>Balsavimo informacija</h4>
            <hr/>
            <div>
                <p style="text-align:left">
                    Balsavimo pradžios tada: <b>@Convert.ToDateTime(Model.sukurimo_data).ToString("yyyy-MM-dd")</b>
                    <span style="float:right;">
                        Balsavimo pabaigos data: <b>@Convert.ToDateTime(Model.pabaigos_data).ToString("yyyy-MM-dd")</b>
                    </span>
                </p>

            </div>
            <hr />
            <p>Dalyvių skaičius: <spam style="font-weight:bold">@Model.dalyviu_skaicius</spam></p>
        </div>
    </div>
    }
</div>
<div style="margin-left:-10px">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn btn-info" />
</div>