@model PVP_K180.Models.Balsavimas

@{
    ViewBag.Title = "Balsavimo kūrimas";
    var psl_k_count = 0;
}

<h2>Kurti naują balsavimą</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Balsavimo forma</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.klausimas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.klausimas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.klausimas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.balsavimo_aprasymas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.balsavimo_aprasymas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.balsavimo_aprasymas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pabaigos_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pabaigos_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pabaigos_data, "", new { @class = "text-danger" })
        </div>
    </div>

    @{if (Model != null)
        {
            psl_k_count = Model.balsavimo_variantai.Count;
        }
        else
        {
            psl_k_count = 0;
        }
    }


    <fieldset>
        <legend>Balsavimo variantai</legend>

        <table class="table table-responsive" id="paslaugos_tbl">
            <thead>
                <tr>
                    <th>Balsavimo variantas</th>
                    <th style="width: 100px"></th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model != null)
                    {
                        for (int i = 0; i < Model.balsavimo_variantai.Count; i++)
                        {
                            <tr>
                                <td>@Html.EditorFor(model => model.balsavimo_variantai[i].balsavimo_variantas, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td><button type="button" class="btn btn-danger">šalinti</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <input type="hidden" disabled value="@psl_k_count" id="hCount" />
        <button type="button" id="prideti" class="btn btn-info pull-right" onclick="uzsakyti($('#hCount').val());"> Pridėti</button>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sukurti" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atgal", "AdminValdymas","Vartotojas")
</div>

@section scripts {
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        function uzsakyti(sk) {
        var tmp_row = `<tr>
                            <td><input class="form-control text-box single-line" data-val="true" data-val-number="The field kiekis must be a int." data-val-required="The kiekis field is required." id="kiekis" name="balsavimo_variantai[0].balsavimo_variantas" type="text" value=""></td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this);">šalinti</button></td>
                        </tr>`;

        var new_tmp_row = tmp_row.replace(/\[(0)\]/g, "[" + sk + "]");
        new_tmp_row = new_tmp_row.replace(/\_(0)\_/g, "_" + sk + "_");

        $("#paslaugos_tbl tr:last").after(new_tmp_row);

        $('#hCount').val(Number($('#hCount').val()) + 1);

    }

    function salinti(btn) {
        $(btn).closest('tr').remove();

        var cnt = 0;

        $("#paslaugos_tbl tbody tr").each(function () {
            var tmp_row = "<tr>" + $(this).html() + "</tr>";
            var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
            new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
            $(this).replaceWith(new_tmp_row);
            cnt = cnt + 1;
        });

        $('#hCount').val(cnt);

        $(".sel_element").each(function () {
            $(this).closest("td").find("select").val($(this).text());
        });
    }
    </script>

}