@model PVP_K180.Models.Balsavimas
@{
    ViewBag.Title = "Rezultatai";
}

<h2 style="text-align:center">Rezultatų išklotinė</h2>

<style>
    .boxShadow {
        box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
        margin: auto;
        border-radius: 5px;
        width: 75%;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
        position: relative;
    }


</style>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<div>
    <div class="boxShadow">
        <p style="text-align:left;font-size:20px; font-weight:bold">@Model.klausimas</p>
        <hr />
        <p style="text-align:left">
            Iš viso balsavavo: <b>@Model.dalyviu_skaicius</b>
            <span style="float:right;">
                Balsavimo pradžia: <b>@Convert.ToDateTime(Model.sukurimo_data).ToString("yyyy-MM-dd")</b>
            </span>
        </p>
    </div>

    @foreach (var item in Model.balsavimo_variantai)
    {
        <div class="boxShadow" style="text-align:left;font-size:15px;">
            @item.balsavimo_variantas
            <hr />
            <p>Pasirinko: <b>@item.pasirinkusiu_skaicius</b></p>
        </div>
    }

    <div class="boxShadow">
        <canvas id="pie_chart"></canvas>
    </div>

    <div class="boxShadow">
        <canvas id="diagram_char"></canvas>
    </div>

</div>


<div>
    @Html.ActionLink("Atgal", "ZiuretiBalsavimus")
</div>

<script>
    var chartLebels = @Html.Raw(Json.Encode(Model.diagramosData.labels));
    var chartColors = @Html.Raw(Json.Encode(Model.diagramosData.colors));
    var chartValues = @Html.Raw(Json.Encode(Model.diagramosData.values));
    var ctx = document.getElementById('pie_chart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: chartLebels,
            datasets: [{
                backgroundColor: chartColors,
                data: chartValues
            }]
        },
        options: {
            title: {
                display: true,
                text: '@Model.klausimas',
                font: {
                    fontColor: '#ffffff'
                }
            },
            legend: {
                position: 'bottom'
            },
        }
    });

    var ctx2 = document.getElementById('diagram_char').getContext('2d');
    var myPieChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: chartLebels,
            datasets: [{
                backgroundColor: chartColors,
                data: chartValues
            }]
        },
        options: {
            title: {
                display: true,
                text: '@Model.klausimas',
                font: {
                    fontColor: '#ffffff'
                }
            },
            legend: {
                position: 'bottom',
                display: false
            },
            scales: {
                xAxes: [{
                    display: true
                }],
                yAxes: [{
                    display: true
                }],
            }
        }
    });
</script>