@model IEnumerable<PVP_K180.Models.Balsavimas>

@{
    ViewBag.Title = "Balsavimų sąrašas";
}

<style>
table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
</style>

<style>
table {
  width: 100%;
  max-width: 100%;

}
</style>


<h2>ZiuretiBalsavimus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.klausimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balsavimo_aprasymas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dalyviu_skaicius)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sukurimo_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pabaigos_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukurejas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busenos_pavadinimas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.klausimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balsavimo_aprasymas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dalyviu_skaicius)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sukurimo_data)
        </td>
        @if (item.pabaigos_data != null)
        {
        <td>
            @Html.DisplayFor(modelItem => item.pabaigos_data)
        </td>
        }
        else
        {
            <td>-</td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Sukurejas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busenos_pavadinimas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
