
@{
    ViewBag.Title = "Administratoriaus pultas";
}
@Styles.Render("~/Styles/dropdownMenu.css")
<h2 >Admin Valdymo Pultas</h2>

<script src="https://kit.fontawesome.com/2e7ea6ec96.js" crossorigin="anonymous"></script>
<div>

    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Naujienų valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("GautiNaujienas", "Naujiena"))">Peržiųrėti naujienų sarašą</a></li>
                <li><a href="@(@Url.Action("NaujienosKurimas", "Naujiena"))">Kurti naujieną</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-envelope" aria-hidden="true"></i>Naujienlaiškis<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("SiustiNaujienlaiski", "Admin"))">Siųsti naujienlaiškį</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-check-square-o" aria-hidden="true"></i>Balsavimų valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("KurtiBalsavima", "Balsavimas"))">Kurti balsavimą</a></li>
                <li><a href="@(@Url.Action("ZiuretiBalsavimus", "Balsavimas"))">Peržiūrėti balsavimų sąrašą</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa-solid fa-check-to-slot"></i>Apklausų valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("KurtiApklausa", "Apklausa"))">Kurti apklausą</a></li>
                <li><a href="@(@Url.Action("ZiuretiApklausas", "Apklausa"))">Peržiūrėti apklausų sąrašą</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-map" aria-hidden="true"></i>Seniūnyjos valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("AtnaujintiInfoSeniunija", "Admin"))">Atnaujinti seniunijos informaciją</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa-solid fa-mountain-sun"></i>Projektų valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("ProjektoKurimas", "Projektas"))">Kurti naują projektą</a></li>
                <li><a href="@(@Url.Action("GautiProjektus", "Projektas"))">Projektų sąrašas</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa-solid fa-calendar-days"></i>Renginių valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("RenginioKurimas", "Renginys"))">Kurti naują renginį</a></li>
                <li><a href="@(@Url.Action("GautiRenginius", "Renginys"))">Renginių sąrašas</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa-solid fa-users"></i>Vartotojų valdymas<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("VartotojuSarasas", "Admin"))">Žiūrėti vartotojų sąrašą</a></li>
            </ul>
        </li>

        <li>
            <div class="link"><i class="fa-solid fa-circle-exclamation"></i>Skubūs atsitikimai Seniūnyjoje<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="@(@Url.Action("AtsitikimuSarasas", "Atsitikimas"))">Atsitikimų sąrašas</a></li>
            </ul>
        </li>
    </ul>
</div>

<div style="margin-top:20px">
    <div style="margin-top:20px; padding-top: 20px;">
        <p>
            @Html.ActionLink("Atgal", "Index", "Home")
        </p>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });
</script>
