<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/navbar.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="@(@Url.Action("Index", "Home"))">Seniūnyjos puslapis</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="@(@Url.Action("Apie", "Home"))">Apie seniūnyją</a>
                    </li>
                    <li>
                        <a href="#!">Aktualijos</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="@(@Url.Action("Naujienos", "Naujiena"))">Naujienos</a>
                            </li>
                            <li>
                                <a href="@(@Url.Action("Projektai", "Projektas"))">Projektai</a>
                            </li>
                            <li>
                                <a href="@(@Url.Action("Renginiai", "Renginiai"))">Renginiai</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Gyventojų balsas</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="@(@Url.Action("Balsuoti", "Balsavimas"))">Aktyvus balsavimas</a>
                            </li>
                            <li>
                                <a href="@(@Url.Action("DalyvautiApklausoje", "Apklausa"))">Aktyvi apklausa</a>
                            </li>
                        </ul>
                    </li>
                    @if (Convert.ToString(Session["UserID"]) == "")
                    {


                        <li>
                            <a href="@(@Url.Action("Registracija", "Home"))">Registracija</a>
                        </li>


                        <li>
                            <a href="@(@Url.Action("Prisijungti", "Home"))">Prisijungimas</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#!">Sveiki, @Session["UserName"]</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="@(@Url.Action("ProfilioPerziura", "Vartotojas", new { id = Session["UserID"] }))">Mano profilis</a>
                                </li>
                                <li>
                                    <a href="@(@Url.Action("ProfilioValdymas", "Vartotojas"))">Profilio valdymas</a>
                                </li>
                                @if (Convert.ToString(Session["Role"]) == "Administratorius")
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li>
                                        <a href="@(@Url.Action("AdminValdymas", "Vartotojas"))">Svetainės kontrolė</a>
                                    </li>
                                }
                                <li>
                                    <a href="@(@Url.Action("Atsijungti", "Home"))">Atsijungti</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </section>   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  K180 - Ką veikia seniūnijos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    (function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
</script>