@model PVP_K180.ModelView.VartotojoBusenosPerziura

@{
    ViewBag.Title = "Keisti vartotojo būsena";
}

<h2>Keisti vartotojo būseną</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vartotojo būsenos keitimas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Busenos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.vartotojo_busena, Model.Busenos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Busenos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="margin-top: 30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("VartotojuSarasas", "Admin") + "'");" class="btn btn-info" />
</div>

