
@model PagedList.IPagedList<PVP_K180.Models.Naujiena>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Naujienų sąrašas";
}
@Styles.Render("~/Styles/tableStyle.css")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<h2>Naujienų sąrašas</h2>
<input id="myInput" type="text" placeholder="Įveskit pagal ką filtruosit">
<br>
<br>
<p>
    @Html.ActionLink("Sukurti naujieną", "NaujienosKurimas", new { }, new { @class = "btn btn-primary", @type = "button" })
</p>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FirstOrDefault().id_Naujiena)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FirstOrDefault().pavadinimas)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FirstOrDefault().naujienos_sukurimo_data)
            </th>
            <th>Funkcijos</th>
        </tr>
    </thead>

    <tbody class="table-hover" , id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.id_Naujiena)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>
                <td class="text-left">
                    @item.naujienos_sukurimo_data.ToString("yyyy-MM-dd")
                </td>
                <td class="text-left">
                    @Html.ActionLink("Redaguoti", "RedaguotiNaujiena", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Pašalinti", "TrintiNaujiena", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Pridėti nuotraukų", "PridetiNuotrauku", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Nuotraukos", "GautiNuotraukas", new { id = item.id_Naujiena })
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="pager">
    @Html.PagedListPager(Model, page => Url.Action("GautiNaujienas", new { page }))
</div>

<div style="margin-top:30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("AdminValdymas", "Vartotojas") + "'");" class="btn btn-info" />
</div>
