@model IEnumerable<PVP_K180.Models.Naujiena>

@{
    ViewBag.Title = "Naujienų sąrašas";
}
@Styles.Render("~/Styles/tableStyle.css")

<h2>Naujienų sąrašas</h2>

<p>
    @Html.ActionLink("Sukurti naujieną", "NaujienosKurimas")
</p>

<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.id_Naujiena)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.naujienos_sukurimo_data)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.naujienos_kurejo_ID)
            </th>
            <th>Funkcijos</th>
        </tr>
    </thead>


    <tbody class="table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.id_Naujiena)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.naujienos_sukurimo_data)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.naujienos_kurejo_ID)
                </td>
                <td class="text-left">
                    @Html.ActionLink("Redaguoti", "RedaguotiNaujiena", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Pašalinti", "TrintiNaujiena", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Pridėti nuotraukų", "PridetiNuotrauku", new { id = item.id_Naujiena }) |
                    @Html.ActionLink("Nuotraukos", "GautiNuotraukas", new { id = item.id_Naujiena })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Atgal", "AdminValdymas", "Vartotojas")
</div>
