@model IEnumerable<PVP_K180.Models.Naujiena>

@{
    ViewBag.Title = "Naujienų sąrašas";
}
<style>
table, th, td, tr {
  border: 1px inset black;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
</style>

<style>
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; 

}
</style>

<h2>Naujienų sąrašas</h2>

<p>
    @Html.ActionLink("Sukurti naujieną", "NaujienosKurimas")
</p>

<table >

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_Naujiena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naujienos_tekstas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naujienos_sukurimo_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naujienos_kurejo_ID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Naujiena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naujienos_tekstas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naujienos_sukurimo_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naujienos_kurejo_ID)
            </td>
            <td>
                @Html.ActionLink("Redaguoti", "RedaguotiNaujiena", new { id = item.id_Naujiena }) |
                @Html.ActionLink("Pašalinti", "TrintiNaujiena", new { id = item.id_Naujiena }) |
                @Html.ActionLink("Pridėti nuotraukų", "PridetiNuotrauku", new { id = item.id_Naujiena }) |
                @Html.ActionLink("Nuotraukos", "GautiNuotraukas", new { id = item.id_Naujiena })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Atgal", "AdminValdymas", "Vartotojas" )
</div>
