@model IEnumerable<PVP_K180.ModelView.NaujienuSarasas>

@{
    ViewBag.Title = "Naujienos";
}


@Styles.Render("~/Styles/cardNews.css")

<div  style="align-content:center"class="row">

    @foreach (var item in Model)
    {
        <div class="column">
            <figure class="snip1347">

                <img src="~/Nuotraukos/@item.pirma_nuotrauka" alt="sample87" />
                <div class="date">@item.menesioPav @item.data.Day, @item.data.Year</div>
                <figcaption>
                    <h2>@item.naujienos_antraste</h2>
                    <p>@Html.Raw(item.trumpasAprasas)</p><a href="@(@Url.Action("SkaitytiNaujiena", "Naujiena", new { id = item.naujienos_id }))" class="read-more">Skaityti daugiau</a>
                </figcaption>
            </figure>
        </div>
    }




</div>
