@model PVP_K180.ModelView.Naujienos_duomenys

@{
    ViewBag.Title = "NaujienosKurimas";
}

<style>
    .boxShadow {
        box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: white;
    }
</style>

<script src="~/Themes/ckeditor/ckeditor.js"></script>


@using (Html.BeginForm("NaujienosKurimas", "Naujiena", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div style="margin-top:20px" class="boxShadow form-horizontal">
    <h2>Naujienos kurimas</h2>
    @if (TempData["Fail"] != null)
    {
        <p class="alert alert-danger" id="successMessage">@Convert.ToString(TempData["Fail"])</p>
    }

    @if (TempData["Succ"] != null)
    {
        <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["Succ"])</p>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.naujiena.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.naujiena.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.naujiena.pavadinimas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.naujiena.naujienos_tekstas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.naujiena.naujienos_tekstas, new { htmlAttributes = new { @class = "form-control" } })
            <script>CKEDITOR.replace("naujiena_naujienos_tekstas");</script>
            @Html.ValidationMessageFor(model => model.naujiena.naujienos_tekstas, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.nuotraukos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.nuotraukos, "", new { @type = "file", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.nuotraukos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sukurti" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div style="margin:2vh">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("GautiNaujienas") + "'");" class="btn btn-info" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 