@model PVP_K180.Models.Naujiena

@{
    ViewBag.Title = "Redaguoti naujieną";
}
<script src="~/Themes/ckeditor/ckeditor.js"></script>


<style>
    .boxShadow {
        box-shadow: 0 1px 10px rgb(0 0 0 / 0.2);
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: white;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div style="margin-top:20px" class="boxShadow form-horizontal">
    <h2>Redaguoti naujieną</h2>
    @if (TempData["Fail"] != null)
    {
        <p class="alert alert-danger" id="successMessage">@Convert.ToString(TempData["Fail"])</p>
    }

    @if (TempData["Succ"] != null)
    {
        <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["Succ"])</p>
    }

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.pavadinimas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pavadinimas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.naujienos_tekstas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.naujienos_tekstas, new { htmlAttributes = new { @class = "form-control" } })
            <script>CKEDITOR.replace("naujienos_tekstas");</script>
            @Html.ValidationMessageFor(model => model.naujienos_tekstas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Išsaugoti" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div style="margin-top: 30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("GautiNaujienas") + "'");" class="btn btn-info" />
</div>

