@model PVP_K180.Models.Apklausa

@{
    ViewBag.Title = "Apklausos kurimas";
    var psl_k_count = 0;
}

<h2>Kurti apklausą</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Apklausos forma</h4>
    @if (TempData["SuccsessApklausa"] != null)
    {
        <p class="alert alert-success" id="successMessage">@Convert.ToString(TempData["SuccsessApklausa"])</p>
    }
    @if (TempData["FailApklausa"] != null)
    {
        <p class="alert alert-danger" id="successMessage">@Convert.ToString(TempData["FailApklausa"])</p>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.aprasymas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.aprasymas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aprasymas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pabaigos_data, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pabaigos_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pabaigos_data, "", new { @class = "text-danger" })
        </div>
    </div>

    @{if (Model != null)
        {
            psl_k_count = Model.klausimai.Count;
        }
        else
        {
            psl_k_count = 0;
        }
    }

    <fieldset>
        <legend>Apklausos klausimai</legend>

        <table class="table table-responsive" id="paslaugos_tbl">
            <thead>
                <tr>
                    <th>Apklausos klausimai</th>
                    <th style="width: 100px"></th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model != null)
                    {
                        for (int i = 0; i < Model.klausimai.Count; i++)
                        {
                            <tr>
                                <td>@Html.EditorFor(model => model.klausimai[i].klausimo_tekstas, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td><button type="button" class="btn btn-danger">šalinti</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <input type="hidden" disabled value="@psl_k_count" id="hCount" />
        <button type="button" id="prideti" class="btn btn-info pull-right" onclick="uzsakyti($('#hCount').val());"> Pridėti</button>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    function uzsakyti(sk) {
        var tmp_row = `<tr>
                            <td><input class="form-control text-box single-line" data-val="true" data-val-number="The field kiekis must be a int." data-val-required="The kiekis field is required." id="kiekis" name="klausimai[0].klausimo_tekstas" type="text" value=""></td>
                            <td><button type="button" class="btn btn-danger" onclick="salinti(this);">šalinti</button></td>
                        </tr>`;

        var new_tmp_row = tmp_row.replace(/\[(0)\]/g, "[" + sk + "]");
        new_tmp_row = new_tmp_row.replace(/\_(0)\_/g, "_" + sk + "_");

        $("#paslaugos_tbl tr:last").after(new_tmp_row);

        $('#hCount').val(Number($('#hCount').val()) + 1);

    }

    function salinti(btn) {
        $(btn).closest('tr').remove();

        var cnt = 0;

        $("#paslaugos_tbl tbody tr").each(function () {
            var tmp_row = "<tr>" + $(this).html() + "</tr>";
            var new_tmp_row = tmp_row.replace(/\[(.)\]/g, "[" + cnt + "]");
            new_tmp_row = new_tmp_row.replace(/\_(.)\_/g, "_" + cnt + "_");
            $(this).replaceWith(new_tmp_row);
            cnt = cnt + 1;
        });

        $('#hCount').val(cnt);

        $(".sel_element").each(function () {
            $(this).closest("td").find("select").val($(this).text());
        });
    }
</script>
