@model PVP_K180.Models.Apklausa
@{
    ViewBag.Title = "RedaguotiApklausa";
}
<h2>Redaguoti Apklausa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Apklausa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.aprasymas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.aprasymas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aprasymas, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.busena, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Busena", new List<SelectListItem>
 {
            new SelectListItem{ Text="Nepaskelbta", Value = "1" },
            new SelectListItem{ Text="Aktyvi", Value = "2" },
            new SelectListItem{ Text="Pasibaigusi", Value = "3" },
 })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Išsaugoti" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div style="margin-top: 30px;">
    <input type="submit" value="< Atgal" onclick="@("window.location.href='" + @Url.Action("ZiuretiApklausas") + "'");" class="btn btn-info" />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
